<template>
    <div class="d-flex justify-content-between attributeCell">
      <span class="label mr-2">{{kv.key}}</span>
      <span class="value">{{kv.value}}</span>
    </div>
</template>

<script>
  export default {
    name: 'Attribute',
    props: [
      'kv'
    ]
  };
</script>
