<template>
  <b-form-group
    :id="control.id"
    :description="control.description"
    description-class="text-white"
    :label="control.title"
    label-for="control.id"
    label-class="filterLabel"
    class="filterInput"
  >

    <!-- Combo/Select Filter -->
    <b-form-select 
      v-if="control.type === 'lookup'"
      :id="control.id"
      :options="control.options"
      v-model="value"
      @change="onSelect(control)"
    />
    <div v-if="control.type === 'lookup'">
      <Pill 
        v-for="item in this.selected"
        :key="item.id"
        :item="item"
        @remove-pill="removePill(control, item)" 
      />
    </div>

    <!-- Slider Filter -->
    <vue-slider 
      v-if="control.type === 'range'"
      :min="control.minRange"
      :max="control.maxRange"
      v-model="control.value"
      @drag-end="onSliderDragEnd(control)"
      :enable-cross="false"
    />

    <!-- Textbox Filter -->
    <b-form-input 
      v-if="control.type === 'text'"
      :id="control.id"
      :value="control.value"
    />
  </b-form-group>
</template>

<script>
  import Pill from './Pill';
  import VueSlider from 'vue-slider-component';

  export default {
    components: {
      VueSlider,
      Pill
    },
    props: [
      'control'
    ],
    data() {
      return {
        selected: [],
        value: null,
        dotOptions: [
          {
            tooltip: 'always'
          }, {
            tooltip: 'always'
          }
        ]
      };
    },
    methods: {
      removePill(control, item) {
        const idx = this.selected.findIndex(title => title.indexOf(item) > -1);
        this.selected.splice(idx,1);
        this.$emit('selection-change', control, this.selected);
      },
      onSliderDragEnd(control) {
        this.$emit('selection-change', control, this.selected);
      },
      onSelect(control) {
        this.selected.push(this.value);
        this.value = null;
        this.$emit('selection-change', control, this.selected);
      }
    }
  };
</script>
