<template>
  <span class="bg-primary pill text-white">
    <span class="title" >{{item}}</span>
    <font-awesome-icon class="closeX" icon="times-circle" @click="removePill(item)"/>
  </span>
</template>

<script>
  export default {
    components: {},
    props: [
      'item'
    ],
    methods: {
      removePill(item) {
        this.$emit('remove-pill', item)
      }
    }
  };
</script>
