.logo{
  color: #33cc99;
  font-size: 30px;
}

.mgl-map-wrapper {
  width: 100%;
  height: 100%;
}

.filterPanel {
  background-color: #333333;
}

.filterPanel .section {
  color: #bbbbbb;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #33cc99;
  margin-bottom: 5px;
}

.filterInput .text-muted {
  color: #aaaaaa !important;
  margin-left: 3px;
}

.filterLabel {
  color: #33cc99;
  font-size: 0.8em;
  padding:0;
  margin:0;
  margin-left: 3px;
  margin-bottom: 1px;
}

.pill {
  font-size: 0.7em;
  border-radius: 10px;
  padding: 3px;
  margin: 1px;
}

.pill .title {
  margin-left: 5px;
}

.pill .closeX {
  margin-left: 11px;
}

.attributeCell{
  font-size: 0.7em;
}

.attributeCell .label {
  color: #33cc99;
}