<template>
  <div class="bg-light h-100">
    <MglMap
      :accessToken="accessToken"
      :mapStyle="mapStyle"
      :center="mapCenter"
      :zoom="mapZoom"
      @load="onMapLoaded"
    />
  </div>
</template>

<script>
  import { zoomToBounds } from "../lib/mapster.js";
  import Mapbox from "mapbox-gl";
  import { MglMap } from "vue-mapbox";

  export default {
    components: {
      MglMap
    },
    data() {
      return {
        accessToken: process.env.VUE_APP_MAP_TOKEN, // Make sure MAP_TOKEN is set in .env, CI/CD or environment
        mapStyle: process.env.VUE_APP_MAP_STYLE,
        mapZoom: parseInt(process.env.VUE_APP_ZOOM),
        mapCenter: JSON.parse(process.env.VUE_APP_CENTER),
      };
    },
    methods: {
      onMapLoaded(event) {
        // Set map locally and in store
        const map = event.map;
        const store = this.$store;

        store.mapContext = map;

        // Set the property map source
        map.addSource('data', {
          type: 'geojson',
          data: store.state.map.geoJson
        })

        // Layer configuration including geoJson color
        map.addLayer({
          'id': 'data',
          'type': 'circle',
          'source': 'data',
          'paint': {
            'circle-radius': {
              'base': 1.6,
              'stops': [
                [12, 2],
                [22, 180]
              ]
            },
            'circle-color': ['get', 'color'],
          },
          'filter': ['==', '$type', 'Point']
        });

        var nav = new Mapbox.NavigationControl();
        map.addControl(nav, 'top-left');

        // Configure on marker click
        map.on('click', 'data', function(e) {
          var coordinates = e.features[0].geometry.coordinates.slice();
          const properties = JSON.parse(e.features[0].properties.project);
          const color = e.features[0].properties.color;

          // // Ensure that if the map is zoomed out such that multiple
          // // copies of the feature are visible, the popup appears
          // // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          // Store current attribute
          store.commit('map/setAttribute', properties)
          // console.log(store.state.map.currentAttribute)

          // Create the marker
          let marker = store.state.map.marker;
          if (marker) marker.remove();

          marker = new Mapbox.Marker({color})
            .setLngLat(coordinates)
            .addTo(map);
          store.commit('map/setMarker', marker);
        });

        zoomToBounds(this.$store, []);
      }
    }
  };
</script>
