<template>
  <div class="filterPanel h-100 p-3 m-0" >
    <div class="text-center">
      <font-awesome-icon class="logo" icon="star"/>
      <div class="text-white">archistar.ai</div>
    </div>
    <div class="section">Filters</div>
    <FormInput v-for="control in this.controls" :key="control.id" :control="control" @range-change="onFilterChange" @selection-change="onFilterChange"/>

    <div class="section">Marker Attributes (Click on markers on map)</div>
    <div class="overflow-auto text-white">
      <Attribute v-for="kv in this.attribute" :key="kv.idx" :kv="kv" />
    </div>
  </div>
</template>

<script>
  import FormInput from './form/FormInput.vue';
  import Attribute from './form/Attribute.vue';
  import { applyFilter } from "../lib/mapster.js";

  export default {
    components: {
      FormInput,
      Attribute
    },
    computed: {
      attribute: function () {
        let kv = [];
        let idx = 0;
        for (let [key, value] of Object.entries(this.$store.state.map.currentAttribute)) {
          idx++;
          kv.push({idx, key, value});
        }
        return kv;
      }
    },
    data() {
      return {
        controls: [
          {
            id:'Type',
            title: 'Type',
            type: 'lookup',
            description: "Select one or more to filter by Type of Property",
            selected: [],
            options:[]
          },
          {
            id:'Category',
            title: 'Category',
            type: 'lookup',
            description: "Select one or more to filter by Property Category",
            selected: [],
            options: []
          },
          {
            id:'Stage',
            title: 'Stage',
            type: 'lookup',
            description: "Select one or more to filter by Current property development stage",
            selected: [],
            options:[]
          },
          {
            id:'Value',
            title: 'Property Value',
            type: 'range',
            divider: 1000,
            selected: [],
            description: "Current property value",
            minRange: null,
            maxRange: null,
            value: null
          }
        ]
      };
    },
    created() {
      const features = this.$store.state.map.geoJson.features;
      this.attribute = this.$store.state.map.currentAttribute;

      // Get the controls
      let optionControls = this.controls;

      // Extract unique attributes for filter combos
      features.forEach(feature => {
        const project = feature.properties.project;

        optionControls.forEach((control, index) => {
          
          switch (control.type) {
            case 'lookup': {
              const attribute = project[control.id];
              const option = control.options.find(value => value === attribute);
              if (!option ) {
                this.controls[index].options.push(attribute);
              }
              break;
            }
            case 'range': {
              const value = parseInt(project[control.id]);

              if (!control.minRange || control.minRange > value) {
                this.controls[index].minRange = value;
                this.controls[index].value = [value, control.maxRange];
              }
              if (!control.maxRange || control.maxRange < value) {
                this.controls[index].maxRange = value;
                this.controls[index].value = [control.minRange, value];
              }

              break;
            }
            default: break;
          }

        })
      })

      // Sort options after fill because it is quicker
      optionControls = this.controls.filter(control => control.type === 'lookup');
      optionControls.forEach((control, index) => {
        this.controls[index].options.sort();
      })
    },
    methods: {
      onFilterChange(ctrl, selected) {
        const idx = this.controls.findIndex(control => control.id === ctrl.id);
        this.controls[idx].selected = selected;
        applyFilter(this.$store, this.controls);
      }
    }
  };
</script>
