<template>
  <div id="app" class="h-100 container-fluid">
    <b-row class="d-flex h-100 flex-rows">
      <b-col class="sideFilter p-0 m-0" >
        <FilterPanel />
      </b-col>
      <b-col class="p-0 m-0">
        <BaseMap />
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import BaseMap from '@/components/BaseMap.vue';
  import FilterPanel from '@/components/FilterPanel.vue';

  export default {
    name: 'App',
    components: {
      BaseMap,
      FilterPanel
    },
    data() {
      return {}
    }
  }
</script>

<style>
  .sideFilter{
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    width: 350px;
  }
  body, html {
    height: 100%
  }
</style>
